
body{
    overflow-x: hidden;
    background: whitesmoke;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}
/*---------------------header-----------------------------*/

header{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    color:rgb(17, 36, 52);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#logo{
    height: 2.3em;
    padding: 10px;
    border: 0px solid black;
    border-radius: 35px;
}


.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.navigation li{
    list-style: none;
 }

 .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(17, 36, 52);
    border-radius: 20px;
}

.navigation li a:hover, .navigation li a.active{
    background:rgb(17, 36, 52);
    color: whitesmoke;
}


/*--------------------parallax--------------------------------------*/
.parallax{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.parallax img{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    pointer-events: none;
}

#text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: rgb(17, 36, 52);
}

.about{
    position: relative;
    padding: 100px;
    background: rgb(17, 36, 52);
}

.about h2{
    font-size: 3em;
    color: whitesmoke;
    margin-bottom: 10px;
}

.about p{
    font-size: 1em;
    color: whitesmoke;
    font-weight: 300;
}
